<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/fonts/iconfont/iconfont.css">
    <link rel="stylesheet" href="/css/movieBasePage.css">
    <link rel="stylesheet" href="/css/movieIndexPage.css">
    <link rel="stylesheet" href="/css/movieLastestNewPage.css">
    <link rel="stylesheet" href="/css/movieLastestHotPage.css">
    <link rel="stylesheet" href="/css/movieHighScorePage.css">
    <title>首页</title>
</head>

<body>
    <div class="content_page_wrapper weui-panel">

    </div>
    <div class="weui-tabbar" style="position: fixed;">
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on navbar_item_index">
            <div class="weui-tabbar__icon">
                <img src="/icons/icon_navbar_youlin.png" alt="">
            </div>
            <p class="weui-tabbar__label navbar_item_title">首页</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item navbar_item_lastestnew">
            <div class="weui-tabbar__icon">
                <img src="/icons/icon_navbar_zhenzi.png" alt="">
            </div>
            <p class="weui-tabbar__label navbar_item_title">最新</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item navbar_item_lastesthot">
            <div class="weui-tabbar__icon">
                <img src="/icons/icon_navbar_jiangshi.png" alt="">
            </div>
            <p class="weui-tabbar__label navbar_item_title">最热</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item navbar_item_highscore">
            <div class="weui-tabbar__icon">
                <img src="/icons/icon_navbar_heimao.png" alt="">
            </div>
            <p class="weui-tabbar__label navbar_item_title">高分</p>
        </a>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script type='text/javascript' src='https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.js' charset='utf-8'></script>
    <script src="/js/movieBasePage.js"></script>
    <script src="/js/movieIndexPage.js"></script>
    <script src="/js/movieLastestNewPage.js"></script>
    <script src="/js/movieLastestHotPage.js"></script>
    <script src="/js/movieHighScorePage.js"></script>
</body>

</html>