<div class="flag-lastestnew-page">
    <div class="lastestnew-items-wrapper">
        <!--...
        <div class="lastestnew-category-item1 lastestnew-category-item">
            <p class="lastestnew-category-item-title">最新电影</p>
            <div class="lastestnew-category-item-image-list weui-flex lastestnew-weui-flex">
                <a href='http://www.sciascia.cn/weixin/movie-detail?movie_title=黑客帝国'>
                    <img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                        alt="">
                </a>
                <a href='http://www.sciascia.cn/weixin/movie-detail?movie_title=黑客帝国'>
                    <img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                        alt="">
                </a>
                <a href='http://www.sciascia.cn/weixin/movie-detail?movie_title=黑客帝国'>
                    <img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                        alt="">
                </a>
                <a href='http://www.sciascia.cn/weixin/movie-detail?movie_title=黑客帝国'>
                    <img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                        alt="">
                </a>
                <a href='http://www.sciascia.cn/weixin/movie-detail?movie_title=黑客帝国'>
                    <img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                        alt="">
                </a>
                <a href='http://www.sciascia.cn/weixin/movie-detail?movie_title=黑客帝国'>
                    <img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg"
                        alt="">
                </a>
            </div>
        </div>
        --->
    </div>
</div>
