.lastestnew-items-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
}


.lastestnew-items-wrapper .lastestnew-weui-flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lastestnew-weui-flex img{
    width: 110px;
    height: 130px;
    margin-top: 10px;
    border-radius: 5px;
}